.slider__wrapper {
  position: relative;
  overflow: hidden;
  color: #fff;
}

.slides__container {
  height: fit-content;
  width: 100%;
  display: flex;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  @media only screen and (max-width: 768px) {
    height: fit-content;
  }
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

/**/
.item {
  position: relative;
  width: 100%;
  height: fit-content;
}

.bg {
  height: 100vh;
  @media only screen and (max-width: 768px) {
    display: none !important;
  }
}

.bg_xs {
  display: none !important;
  @media only screen and (max-width: 768px) {
    display: block !important;
    height: 50vh;
  }
}

.item .overlay {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  justify-content: center;
  height: 80%;
  width: 50%;
}

.title {
  color: #fff;
  line-height: 2rem !important;
  font-weight: bold;
  font-size: 2.1rem;
  font-family: "GothamMedium", sans-serif;
  text-align: left;
  margin: 0 0 0.8rem 0;
  @media only screen and (max-width: 768px) {
    font-size: 42px !important;
    line-height: 2.6rem !important;
  }
}

.subtitleContainer {
  background-color: #fff;
  margin: 1rem 0;
  display: none;
  width: fit-content;
  padding: 0 0.3rem 0 0;
  @media only screen and (max-width: 768px) {
    margin: 1rem 4rem 0.5rem 0;
  }
}

.subtitle {
  font-size: 0.7rem;
  font-weight: 300;
  font-family: "GothamLight" !important;
  color: #000;
  margin: 0;
  width: fit-content;
}

.desc {
  font-size: 18px;
  line-height: 1.6rem !important;
  color: #fff;
  font-family: "GothamRegular";
  width: 90%;
}

.count {
  font-family: "GothamMedium";
  font-size: 2.1rem;
  display: none;
  color: #fff;
}

.desc_xs {
  display: none;
}

.count_xs {
  display: none;
}

.count__title {
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .item .background {
    width: 100%;
  }

  .item .overlay {
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .count {
    font-family: "GothamMedium";
    font-size: 2.1rem;
    display: none;
  }

  .count_xs {
    display: none;
    font-family: "GothamMedium";
    font-size: 2.1rem;
    margin: 1rem 0;
    color: #fff;
  }

  .count__title {
    font-size: 1rem;
  }

  .subtitle {
    margin-right: 2rem;
  }

  .hide-xs {
    display: none;
  }

  .title {
    font-size: 1.4rem;
    width: 90%;
    font-family: "GothamMedium";
    margin: 0;
  }

  .desc_xs {
    display: block;
    font-size: 0.7rem;
    line-height: 0.8rem !important;
    width: 90%;
    font-family: "GothamRegular";
    margin: 0 0 0.5rem 0;
    color: #fff;
  }

  .desc {
    display: none;
  }

  .item .overlay {
    height: 90%;
    width: 100%;
    padding: 0 1.2rem;
  }
}
